.hero-div{
display: flex;
width: 30%;
padding: 157px 139px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 0px 0px 360px 360px;
background: linear-gradient(0deg, rgba(255, 89, 0, 0.00) 0%, rgba(255, 200, 21, 0.23) 100%); 
z-index: 99;
margin: 0 auto;
font-size: 32px;
border: 3px solid #FFB574;
border-top-width: 0;
}

.hero-text{
    color: #FFF;
    font-family: Panchang;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%; 
    letter-spacing: 7.68px;
    margin-bottom: 24px;
    text-align: center;
}

main{
    margin: 0;
}

.showreel{
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
font-size: 32px;
z-index: 98;
}

.video{
    height: 100vh;
    width: 100%;
}

.Pill-cont{
display: flex;
align-items: center;
gap: 48px;
justify-content: center;
padding: 24px;
}

.custom-scroll-text{
    color: white;
    padding: 24px;
}

.title{
    font-family: Panchang;
    color: white;
    font-size: 2.25rem;
    margin-bottom: 2%;
}

.projects-cont{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    width: 100%;
}

.Catg-Cont{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    margin-bottom: 24px;
}

.projects-up, .projects-down {
    display: flex;
    align-items: stretch;
    gap: 24px;
    flex-direction: row;
    margin-bottom: 16px;
}



.project {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
}

.project-1-dwn{
    width: 170px;
    height: 240px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.project-2-dwn{
    width: 811px;
    height: 240px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 40px;
}

.About{
display: flex;
padding: 24px 256px;
justify-content: center;
align-items: center;
gap: 24px;
flex-direction: row-reverse;
}


.About-head{
    font-family: Panchang;
    color: white;
    font-size: 36px;
    font-weight: 700;
}

.About-txt{
    font-family: Panchang;
    color: white;
    font-size: 16px;
}


.about-filling{
    padding: 48px;
     border-radius: 20px;
    background: linear-gradient(180deg, rgba(133, 46, 0, 0.29) 0%, rgba(159, 123, 2, 0.598) 100%);
  border:1px solid #FFB574;

}
