.category-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.EXP-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
}