    @font-face {
        font-family: 'Panchang';
        src: 
        local("Panchang")
        url(../fonts/Panchang-Regular.otf)
         format('opentype');
         font-weight: normal;
         font-style: normal;
    }

.category-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EXP-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
  z-index: 10;
}

.Projects-Holder {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.Projects-Holder {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.projects-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-direction: row;
  margin-bottom: 16px;
}

.projects-up,
.projects-down {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-direction: row;
  margin-bottom: 16px;
}

@media (max-width: 414px) {
  .Projects-Holder {
    width: 92vw !important;
    margin: 4vh auto !important;
    gap: 4vw !important;
    padding: 3.5vw !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
  }

  .projects-up,
  .projects-down,
  .projects-row,
  .EXP-holder {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 4vw !important;
    width: 100% !important;
  }

  .projects-up > *,
  .projects-down > * {
    width: 100% !important;
    max-width: 100% !important;
  }

  .project-1-dwn,
  .project-2-dwn,
  .project {
    width: 100% !important;
    height: auto !important;
    padding: 3.5vw !important;
  }

  .category-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;
  }

  .title,
  .blog-head {
    font-size: 24px !important;
  }
}

@media (max-width: 1024px) and (min-width: 415px) {
  .Projects-Holder {
    width: 88vw !important;
    margin: 3vh auto !important;
    gap: 3.5vw !important;
    padding: 3vw !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
  }

  .projects-up,
  .projects-down,
  .EXP-holder {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 3.5vw !important;
    width: 100% !important;
  }

  .projects-up,
  .projects-down {
    width: 100% !important;
  }

  .project-1-dwn,
  .project-2-dwn,
  .project {
    width: 100% !important;
    height: auto !important;
    padding: 3vw !important;
  }

  .category-holder {
    width: 88vw !important;
  }

  .title,
  .blog-head {
    font-size: 24px !important;
  }
}
