.footer{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
align-self: stretch;
padding: 2% 3%;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 94.71%);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
border: 3px solid #FFB574;
border-radius: 20px 20px 0 0;
box-sizing: border-box;
border-bottom-width: 0;
z-index: 10;
position: relative;
}

.footer-logo{
    width: 20%;
    max-width: 200px;
}

.footer-parts{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 60%;
    justify-content: flex-end;
}

.footer-part-2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-part-2 ul li {
    margin-bottom: 12px;
}

.footer-part-2 ul li a {
    color: white;
    text-decoration: none;
    font-family: text;
    font-size: 24px;
    transition: color 0.3s ease;
}

.footer-part-2 ul li a:hover {
    color: #FFB574;
}

.footer-part-2 h2 {
    font-family: Panchang;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.footer-part-2 p {
    font-family: Panchang;
    color: white;
    font-size: 16px;
}

/* Hide footer on tablet and mobile responsive views */
@media (max-width: 1024px) {
    .footer {
        display: none !important;
        visibility: hidden !important;
    }
}