nav{
display: flex;
flex-direction: column;
z-index: 999;
width: fit-content;
position: sticky;
display: inline-flex;
padding: 24px 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}

ul{
    list-style: none;
    gap: 24px;
    display: flex;
    flex-direction: column;
    font-family: Panchang;
    color: white;
    text-decoration: none;
    position: fixed;
      background: rgba(255, 255, 255, 0.1);      
  backdrop-filter: blur(12px) saturate(150%);  
  -webkit-backdrop-filter: blur(12px) saturate(150%); 
  border: 1px solid rgba(255, 255, 255, 0.2);  
  border-radius: 16px;                         
  padding: 24px 32px;                          
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); 
}

.nav-link{
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

.nav-link:hover{
    color: rgb(255, 152, 34);
}