nav{
display: flex;
flex-direction: column;
z-index: 999;
width: fit-content;
position: sticky;
display: inline-flex;
padding: 24px 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}

ul{
    list-style: none;
    gap: 24px;
    display: flex;
    flex-direction: column;
    font-family: Panchang;
    color: white;
    text-decoration: none;
    position: fixed;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-weight: 500;
     transition: color 0.3s ease;
}

.nav-link:hover{
    color: rgb(255, 152, 34);
}