@tailwind base;
@tailwind components;
@tailwind utilities;

    @font-face {
        font-family: 'Panchang';
        src: 
        local("Panchang")
        url(./fonts/Panchang-Regular.otf)
         format('opentype');
         font-weight: normal;
         font-style: normal;
    }

    body {
        font-family: 'Panchang', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }   

    p{
        font-family: 'Panchang', sans-serif;
    }