.info-div{
display: flex;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 24px;
border: 1px solid #FFB574;
background: rgba(0, 0, 0, 0.00);
font-family: Panchang;
font-weight: 700;
color: white;
font-size: 16px;
transition: background-color 0.3s ease;
}

.info-div:hover{
    background-color: #ca5e009f;
    color: white;
}